.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.item {
    width: 150px;
    height: 300px;
    margin: 10px;
    transition: width .5s ease-in-out;
}

.item.active {
    width: 300px;
}

.item:first-child {
    background-color: tomato;
}

.item:nth-child(2) {
    background-color: seagreen;
}

.item:last-child {
    background-color: blue;
}